@charset "utf-8";

$accent: #6fbb9a;
$accent-secondary: #66d5ad;
$red: #df4839;
$white: #fafafa;
$bg: $white;
$gray: #555;

/* ウィンドウ背景色の設定 */
body {
  background-color: $bg;
  color: $gray;
}

/* リンク色の設定 */
a {
  color: $red;
}

/* ヘッダー・ナビ・フッターの共通設定 */
/* ナビ */
/* ページタイトルの設定 */
h1 {
  width: 300px;
  margin: 40px auto;
  padding: 30px;
  border: 5px solid $accent-secondary;
  background-color: $accent;
  color: $white;
  font-size: 3rem;
  text-align: center;
  line-height: 1;
}
/* 大見出しの設定 */
h2 {
  padding: 10px;
  margin-bottom: 30px;
  border: 1px dotted $accent-secondary;
  border-left: 10px solid $accent-secondary;
  color: $accent;
}
/* 小見出しの設定 */
/* コンテンツ枠の設定 */
/* 「もっと見る」リンクの設定 */
/* リンク種別アイコン */
